<p-toast></p-toast>
<div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white mr-2">
        <i class="mdi mdi-home"></i>                 
      </span>
      Fournisseur
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span></span>Overview 
          <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
        </li>
      </ul> 
    </nav>
  </div>
<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
            </span>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"  chooseLabel="Import" class="p-mr-2 p-d-inline-block "></p-fileUpload>
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-button-sm" (click)="openNew()"></button>

            <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="fournisseurs" [responsive]="true" [rows]="5" [paginator]="true" [globalFilterFields]="['name','country','reference']"
        [(selection)]="selectedFournisseurs" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>

                <th pSortableColumn="reference">Référence <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="name">Nom</th>
                <th pSortableColumn="fixNumber">Numéro Fixe </th>
                <th pSortableColumn="ca">Chiffre d'affaire </th>
                <th pSortableColumn="fiscalNumber">Matricule Fiscale </th>
                <th pSortableColumn="email">Email</th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-frs>
            <tr>
                <td>
                    <p-tableCheckbox [value]="frs"></p-tableCheckbox>
                </td>
                <td>{{frs.reference}}</td>
                <td>{{frs.name}}</td>
                 <td>{{frs.fixNumber}}</td>
                <td>{{frs.ca}}</td>
                 <td>{{frs.fiscalNumber}}</td>
                <td>{{frs.email}}</td>


                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editFournisseur(frs)"></button>
                    <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-info"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteFournisseur(frs)"></button>
                    
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                En total il existe {{fournisseurs ? fournisseurs.length : 0 }} fournisseurs.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="fournisseurDialog" [ngSwitch]="dialogPageIndex" [style]="{width: '750px'}" header="fournisseur Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid">
            <p-steps [model]="items" [(activeIndex)]="dialogPageIndex" [readonly]="false"></p-steps>
                <div *ngSwitchCase="PageNames.bloc1">
                          
                            <div class="p-field">
                                <label for="name">Nom</label>
                                <input type="text" pInputText id="name" [(ngModel)]="fournisseur.name" required autofocus />
                                <small class="p-invalid" *ngIf="submitted && !fournisseur.name">champ obligatoire.</small>
                            </div>
                            <div class="p-field">
                                <label for="fixNumber">Numéro fixe</label>
                                <input type="text" pInputText id="fixNumber" [(ngModel)]="fournisseur.fixNumber" required autofocus />
                                <small class="p-invalid" *ngIf="submitted && !fournisseur.fixNumber">Numéro fixe obligatoire.</small>
                            </div>
                    
                            <div class="p-field">
                                <label for="ca">Chiffre d'affaire</label>
                                <input type="text" pInputText id="ca" [(ngModel)]="fournisseur.ca" required autofocus />
                                <small class="p-invalid" *ngIf="submitted && !fournisseur.ca">Chiffre d'affaire obligatoire.</small>
                            </div>
                    
                            <div class="p-field">
                                <label for="fiscalNumber">Matricule fiscale</label>
                                <input type="text" pInputText id="fiscalNumber" [(ngModel)]="fournisseur.fiscalNumber" required autofocus />
                                <small class="p-invalid" *ngIf="submitted && !fournisseur.fiscalNumber">Matricule fiscale est obligatoire.</small>
                            </div>
                    
                            <div class="p-field">
                                <label for="email">Email</label>
                                <input type="text" pInputText id="email" [(ngModel)]="fournisseur.email" required autofocus />
                                <small class="p-invalid" *ngIf="submitted && !fournisseur.email">Email est obligatoire.</small>
                            </div> 

                            <br>
                           
                            <div>
                                <button label="Suivant" pButton type="button" id="buttonNextAndPrevious" (click)="next()" class="ui-button-rounded ui-button-secondary"></button>
                            </div>
                        </div>
                
                        <div *ngSwitchCase="PageNames.bloc2">
                            <div class="ui-fluid p-formgrid p-grid">
                                <div class="p-field p-col-12 p-md-6">
                                    <label for="firstname6">Firstname</label>
                                    <input id="firstname6" type="text" pInputText> 
                                </div>
                                <div class="p-field p-col-12 p-md-6">
                                    <label for="lastname6">Lastname</label>
                                    <input id="lastname6" type="text" pInputText> 
                                </div>
                                <div class="p-field p-col-12">
                                    <label for="address">Address</label>
                                    <textarea id="address" type="text" rows="4" pInputTextarea></textarea>
                                </div>
                                <div class="p-field p-col-12 p-md-6">
                                    <label for="city">City</label>
                                    <input id="city" type="text" pInputText> 
                                </div>
                                <div class="p-field p-col-12 p-md-3">
                                    <label for="state">State</label>
                                    <p-dropdown inputId="state" [options]="states" [(ngModel)]="selectedState" placeholder="Select" optionLabel="name"></p-dropdown>
                                </div>
                                <div class="p-field p-col-12 p-md-3">
                                    <label for="zip">Zip</label>
                                    <input id="zip" type="text" pInputText> 
                                </div>
                            </div>
                             <div>
                                <!-- <i id="buttonNextAndPrevious" (click)="previous()" class="pi pi-arrow-circle-up">
                                </i><br> -->
                                <button label="Suivant" pButton type="button" id="buttonNextAndPrevious" (click)="next()" class="ui-button-rounded "></button>
                                <button label="Précédent" pButton type="button" id="buttonNextAndPrevious" (click)="previous()" class=" ui-button-secondary"></button>

                            </div>
   
                        </div>
 
        </div>

    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-primary p-button-sm" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-success p-button-sm" (click)="saveFournisseur()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
